#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}

# Install Homebrew if not present
if ! command -v brew &>/dev/null; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}
brew bundle --file={{ joinPath .chezmoi.homeDir ".Brewfile" }}

{{ end -}}
